.wrapper {
    display: flex;
    height: calc(100vh - 80px);
}

.contentWrapper {
    padding: 20px;
    flex: 6;
    overflow-y: auto;
}

.line {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background: rgb(226, 226, 226);
}

.navWrapper {
    flex: 2;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    position: relative;
    overflow-y: auto;
    min-width: 200px;
    max-width: 270px;
}

.navWrapper > div {
    margin: 20px;
    margin-top: 40px;
}

.navWrapper a {
    color: #bce0ff;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.3s;
}

.navWrapper a:hover {
    color: white;
}

.navWrapper .selected {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.logoutText {
    position: absolute;
    color: var(--primaryColor);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.loadingMainDiv {
    position: fixed;
    z-index: 99;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loadingDiv {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.title {
    color: var(--primaryColor);
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    position: relative;
}

.menuWrapper p {
    color: #bce0ff;
    margin-bottom: 20px;
    font-size: 18px;
    transition: all 0.3s;
}

.menuWrapper p:hover {
    color: white;
}

.displayNavWrapper {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.menuItemWrapper {
    display: flex;
    position: relative;
}

.openArrow {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 0px;
    align-self: center;
    color: white;
    font-size: 18px;
    top: 15px;
}

.closeArrow {
    transform: rotate(180deg);
    top: 5px;
}
@media (max-width: 480px) {
    .closedNavWrapper {
        display: none;
    }
    .logoutText {
        display: none;
    }
}
